$primary-100: #e0d3ee;
$primary-200: #c2a8de;
$primary-300: #a37ccd;
$primary-400: #8551bd;
$primary-500: #6625ac;
$primary-600: #521e8a;
$primary-700: #3d1667;
$primary-800: #290f45;
$primary-900: #140722;

$white: #fff;

$black: #000;
$black-100: #2f2f2f;

$gray-dark: #888888;
$gray-light: #e3e3e3;
$gray-normal: #c4c4c4;
$gray-100: #f5f5f5;

$success: #1dbf8e;

$background: #f7f7f7;
