@import "../../../styles/global.scss";

.formWrapper {
  width: 324px;
  height: 456px;

  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-right: 24px;
  .header {
    padding: 22px 24px 21px 24px;
    border-bottom: 1px solid $gray-light;
    display: flex;
    align-items: center;

    .backButton {
      width: 16px;
      height: 16px;
      margin-right: 12px;
    }

    .title {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      color: $black;
    }
  }
  .body {
    margin: 0 24px;
    padding: 24px 0;
    height: 396px;
    box-sizing: border-box;
    position: relative;

    .labelRow {
      display: flex;
      width: 100%;
      flex-direction: column;
      font-size: 12px;
      font-weight: 500;
      color: $gray-dark;

      span {
        color: $black;
        margin-bottom: 6px;
      }
    }

    .item {
      width: 100%;
      height: 36px;
      border: 1px solid $gray-light;
      box-sizing: border-box;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      margin-bottom: 24px;
      &.credit {
        border: 1px solid $primary-600;
        justify-content: space-between;
        svg {
          width: 15px;
        }
        img {
          margin-left: 4px;
        }
      }

      .label {
        min-width: 47px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;

        color: $gray-dark;
        &.credit {
          color: $black;
          flex-grow: 1;
          margin-left: 12px;
        }
      }
      input {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $black;
        border: none;
        outline: none;
        max-width: 110px;
        padding: 0;
        &::placeholder {
          color: $gray-light;
        }
      }
      .splitter {
        width: 0px;
        height: 24px;
        border-left: 1px solid $gray-light;
        margin-right: 9px;
      }
      .currencySelector {
        display: flex;
        align-items: center;
        min-width: 75px;
        .logo {
          max-width: 18px;
          max-height: 18px;
          margin-right: 9px;
        }
        .currency {
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          color: $black;
        }
        svg {
          color: $gray-dark;
          margin-left: 6px;
        }
      }
    }
    .button {
      width: 100%;
      position: absolute;
      bottom: 24px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    .halfWrapper {
      display: grid;
      grid-template-columns: 132px 132px;
      grid-gap: 12px;
    }
    .actionGroup {
      width: 100%;
      position: absolute;
      bottom: 24px;
      button {
        position: relative;
        bottom: 0;
      }
    }
    &.transactionReceipt {
      justify-content: flex-start;
      align-items: center;
      display: flex;
      flex-direction: column;
      svg {
        color: $primary-600;
      }
      &.loading {
        justify-content: center !important;
        span {
          position: absolute;
          top: 220px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
        }
      }
      .trWrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .trItem {
          padding: 0;
          border-bottom: none;

          &:last-child {
            text-align: left;
          }
        }
        padding-bottom: 16px;
        border-bottom: 1px solid $gray-100;
      }
      .trItem {
        width: 100%;
        border-bottom: 1px solid $gray-100;
        padding: 16px 0;
        box-sizing: border-box;
        position: relative;

        &.noBorder {
          border: none;
        }
        &.trMargin {
          padding-left: 15px;
        }
        .title {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          color: $black;
          margin-top: 0;
          margin-bottom: 8px;
        }
        .description {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          overflow-wrap: break-word;
          color: $gray-dark;
          &.transaction {
            display: inline-block;
            width: calc(100% - 36px);
          }
        }
        .txlink {
          background: $gray-dark;
          right: 0;
          top: 36px;
          position: absolute;

          svg {
            color: white !important;
          }
        }
      }
      .errorItem {
        background: #e0d3ee;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        padding: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        color: $primary-600;
      }
    }
  }
}
